# .NET build artifacts
bin/
obj/
*.user
*.suo

# VS Code
.vscode/

# Logs
*.log

# Docker
*.db
Dockerfile
.dockerignore

# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars

# Secrets
.env
.env.*
secrets.json

# API
SlauthApi/appsettings.Development.json
SlauthApi/*.http
SlauthApi/Properties/launchSettings.json